<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <base href="{{ app.request.getSchemeAndHttpHost() }}">
    <title>Ma fake boutique - {{ title|default('Welcome') }}</title>
{#    {{ variable }} => <?= $variable; ?> => <?php echo $variable; ?>#}
{#    {{ "test" }} => <?= "test"; ?>#}



    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/lib/blue.css">
    <link rel="stylesheet" href="assets/lib/carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/lib/owl.transitions.css">
    <link rel="stylesheet" href="assets/lib/animate/animate.min.css">
    <link rel="stylesheet" href="assets/lib/rateit.css">
    <link rel="stylesheet" href="assets/lib/bootstrap/bootstrap-select.min.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


    {% block css %}{% endblock %}
    {% block jsHead %}{% endblock %}
</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
{% include "skeleton/default/header.html.twig" %}

<!-- ============================================== HEADER : END ============================================== -->
{% block content %}{% endblock %}

<!-- ============================================================= FOOTER ============================================================= -->
{% include "skeleton/default/footer.html.twig" %}
<!-- ============================================================= FOOTER : END============================================================= -->

<!-- For demo purposes – can be removed on production -->

<!-- For demo purposes – can be removed on production : End -->

<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="assets/lib/jquery/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="assets/lib/bootstrap/bootstrap-hover-dropdown.min.js"></script>
<script src="assets/lib/carousel/owl.carousel.min.js"></script>
<script src="assets/lib/echo.min.js"></script>
<script src="assets/lib/jquery/jquery.easing-1.3.min.js"></script>
<script src="assets/lib/bootstrap/bootstrap-slider.min.js"></script>
<script src="assets/lib/jquery/jquery.rateit.min.js"></script>
<script type="text/javascript" src="assets/lib/lightbox/lightbox.min.js"></script>
<script src="assets/lib/bootstrap/bootstrap-select.min.js"></script>
<script src="assets/lib/wow.min.js"></script>
<script src="assets/js/scripts.js"></script>

{% block js %}{% endblock %}
</body>
</html>